{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2 class="mb-4">
    Dashboard
</h2>

<div class="row">

    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h3>20</h3>
                <p>Total Jobs</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h3>100</h3>
                <p>Applicants</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h3>80%</h3>
                <p>Avg ATS Score</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}