{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-header bg-success text-white">
                <h3 class="text-center">Register</h3>
            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">
                        <label for="fullname" class="form-label">Full Name</label>
                        <input type="text"
                               id="fullname"
                               name="fullname"
                               class="form-control"
                               required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email"
                               id="email"
                               name="email"
                               class="form-control"
                               required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control"
                               required>
                    </div>

                    <div class="mb-3">
                        <label for="role" class="form-label">Role</label>

                        <select id="role"
                                name="role"
                                class="form-control">

                            <option value="candidate">
                                Candidate
                            </option>

                            <option value="recruiter">
                                Recruiter
                            </option>

                        </select>
                    </div>

                    <button type="submit"
                            class="btn btn-success w-100">
                        Register
                    </button>

                </form>

            </div>

        </div>

    </div>
</div>

{% endblock %}